html {
    font: 16px 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    font-weight: 500;
    width: 40rem;
    margin: auto;
}

input,
button {
    font-family: inherit;
}

button {
    appearance: none;
    border: none;
    background-color: aliceblue;
    border-radius: .125rem;
    padding: .25rem 1rem;
    margin: .125rem;
    cursor: pointer;
    border: 1px solid #0003;
}

button.button-action {
    background-color: lightseagreen;
    color: azure;
}

span.badge {
    display: inline-flex;
    background-color: aliceblue;
    border-radius: .25rem;
    padding: .125rem .5rem;
    cursor: default;
}

span.badge.badge-full {
    display: flex;
}

span.badge.badge-player {
    background-color: gainsboro;
}

span.badge.badge-player.badge-player-ready {
    background-color: mediumseagreen;
    color: white;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
}

svg.icon-suit,
svg.icon-rank {
    fill: currentColor;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
}


svg.icon-rotated {
    transform: rotate(180deg);
}


svg.icon-rank.icon-shifted {
    transform: translate(40%, -50%);
}

svg.icon-suit.icon-suit-diamonds,
svg.icon-suit.icon-suit-hearts {
    color: #c83737;
}

svg.icon-suit.icon-suit-clubs,
svg.icon-suit.icon-suit-spades {
    color: #0b1728;
}

svg.icon-suit.icon-suit-joker {
    color: mediumorchid;
}

svg.icon-rank {
    color: darkslateblue;
}

div.card {
    position: relative;
    min-width: 5rem;
    height: 6rem;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid #0002;
    margin: .5rem;
    margin-right: -3rem;
    cursor: default;
    overflow: hidden;
}

div.card svg.icon-suit,
div.card svg.icon-rank {
    position: absolute;
    top: 0;
    left: 0;
}

div.card.suit-joker svg.icon-rank {
    color: transparent;
}

div.card.card-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #0b1728;
}

input[name="selected_card_id"] {
    display: none;
}

label[for] div.card {
    cursor: pointer;
}

input[name="selected_card_id"]:checked+label div.card {
    background-color: powderblue;
    box-shadow: 0 0 .25rem powderblue;
}

div.deck.deck-small {
    margin: .25rem;
}

div.deck.deck-small div.card {
    min-width: 2.5rem;
    height: 3rem;
    border-radius: .25rem;
    margin: .25rem;
    margin-right: -1.5rem;
}

div.deck-series div.deck {
    margin-right: 2rem;
}

div.game-status {
    align-items: center;
}

.ms-auto {
    margin-left: auto;
}

.ms-frem {
    margin-left: 1rem;
}

.ms-hrem {
    margin-left: .5rem;
}

#card-icons {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: .5rem;
}

ol {
    padding-left: 0;
}

ol li {
    margin-bottom: .25rem;
}