<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    {% from 'macros.html' import display_cards with context  %}
    {% set session_player = lobby.players.get(session_id) %}
    <h4><a href="{{ url_for('get_index') }}">Play Rummy!</a></h4>
    <h3>Lobby <strong>#{{ lobby_id }}</strong></h3>
    <div class="game-status flex">
        <div>Players: {{ lobby.players|length }} / {{ lobby.game.hands|length }}</div>
        {% for player in lobby.players.values() %}
        <div class="ms-frem">
            <span class="badge badge-player{% if player.index == lobby.game.mover %} badge-player-ready{% endif %}">
                {% if player == session_player %}
                You <strong class="ms-hrem">#{{ player.number }}</strong>
                {% else %}
                <strong>#{{ player.number }}</strong>
                {% endif %}
            </span>
        </div>
        {% endfor %}
        <div class="flex ms-auto">
            <form method="POST" action="{{ url_for('post_lobby_leave', lobby_id=lobby_id)}}"><button>Leave
                    game</button>
            </form>
        </div>
    </div>
    <br>
    <span class="badge badge-full">Table</span>
    <div class="deck-series flex">
        <div class="deck deck-small flex">
            <div class="card card-label">{{ lobby.game.cards|length }}</div>
        </div>
        {{ display_cards(lobby.game.discard_pile, True) }}
    </div>
    <br>
    {% for player in lobby.players.values() %}
    <span class="badge badge-full badge-player{% if player.index == lobby.game.mover %} badge-player-ready{% endif %}">
        {% if player == session_player %}
        You <strong class="ms-hrem">#{{ player.number }}</strong>
        {% else %}
        <strong>#{{ player.number }}</strong>
        {% endif %}
    </span>
    <div class="deck-series flex">
        <div class="deck deck-small flex">
            <div class="card card-label">{{ lobby.game.hands[player.index]|length }}</div>
        </div>
        {% for meld in lobby.game.melds[player.index] %}
        {{ display_cards(meld.cards, True) }}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
    <span class="badge badge-full">Your hand</span>
    {{ display_cards(lobby.hand_for(session_id)) }}
    {% include "svg/card.svg" %}
    <div class="flex">
        <form method="POST" action="{{ url_for('post_lobby_act', lobby_id=lobby_id)}}">
            <input type="hidden" name="action_sort" value="pick_up">
            <button name="action_target" value="deck">Pick-up <strong>Deck</strong></button>
            <button name="action_target" value="discard">Pick-up <strong>Discard</strong></button>
        </form>
        <form id="card-action" method="POST" action="{{ url_for('post_lobby_act', lobby_id=lobby_id)}}">
            <button name="action_sort" value="meld">Meld</button>
            <button name="action_sort" value="discard">Discard</button>
        </form>
    </div>
    <input type="hidden" id="num_actions" value="{{ lobby.game.num_actions }}">
    <input type="hidden" id="game_state" value="{{ lobby.game.state }}">
    <input type="hidden" id="game_state_query_uri" value="{{ url_for('get_lobby_game_state', lobby_id=lobby_id)}}">
    <script src="{{ url_for('static', filename='js/poll_started.js') }}"></script>
</body>

</html>