<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <h4><a href="{{ url_for('get_index') }}">Play Rummy!</a></h4>
    <h3>Lobbies</h3>
    {% for lobby_id, lobby in lobbies.items() %}
    <p>{% if lobby.players.get(session_id) is not none %}&plus;{% else %}&minus;{% endif %} <a href="{{ url_for('get_lobby', lobby_id=lobby_id) }}">Lobby #{{ lobby_id }}</a></p>
    {% endfor %}
    <div class="flex">
        <form method="POST" action="{{ url_for('post_lobby_create')}}">
            <button class="button-action">New lobby</button>
        </form>
        <form method="POST" action="{{ url_for('post_lobby_create_test')}}">
            <button class="button-action">New test lobby</button>
        </form>
    </div>
</body>

</html>