<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    {% from 'macros.html' import display_errors %}
    <h4><a href="{{ url_for('get_index') }}">Play Rummy!</a></h4>
    <h3>New lobby</h3>
    {{ display_errors() }}
    <div class="flex">
        <form method="POST" action="{{ url_for('post_lobby_create', lobby_id=lobby_id)}}">
            <div class="form-block">
                <label>Players<br><small>2-6 players</small></label>
                <input name="num_players" type="text" pattern="[23456]" value="4">
            </div>
            <div class="form-block">
                <label>First meld threshold<br><small>0-40 points</small></label>
                <input name="meld_threshold" type="text" pattern="[0-9]+" value="40">
            </div>
            <button class="button-action">Create new lobby</button>
        </form>
    </div>
</body>

</html>