<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    {% set session_player = lobby.players.get(session_id) %}
    <h4><a href="{{ url_for('get_index') }}">Play Rummy!</a></h4>
    <h3>Lobby <strong>#{{ lobby_id }}</strong></h3>
    <div class="game-status flex">
        <div>Players: {{ lobby.players|length }} / {{ lobby.game.hands|length }}</div>
        {% for player in lobby.players.values() %}
        {% if player != session_player %}
        <div class="ms-frem"><span class="badge badge-player{% if player.ready %} badge-player-ready{% endif %}">
                <strong>#{{ player.number }}</strong>{% if player.ready %} <strong
                    class="ms-hrem">&check;</strong>{% endif %}</span></div>
        {% endif %}
        {% endfor %}
        {% if session_id not in lobby.players %}
        <div class="flex ms-auto">
            <form method="POST" action="{{ url_for('post_lobby_join', lobby_id=lobby_id)}}"><button
                    class="button-action">Join lobby</button></form>
        </div>
        {% else %}
        <div class="ms-frem"><span
                class="badge badge-player{% if session_player.ready %} badge-player-ready{% endif %}">You
                <strong class="ms-hrem">#{{ session_player.number }}</strong>{% if session_player.ready %} <strong
                    class="ms-hrem">&check;</strong>{% endif %}</span></div>
        <div class="flex ms-auto">
            {% if not session_player.ready %}
            <form method="POST" action="{{ url_for('post_lobby_ready', lobby_id=lobby_id)}}">
                <button class="button-action">Ready!</button>
            </form>
            {% endif %}
            <form method="POST" action="{{ url_for('post_lobby_leave', lobby_id=lobby_id)}}"><button>Leave
                    lobby</button>
            </form>
        </div>
        {% endif %}
    </div>
    <input type="hidden" id="ticks" value="{{ lobby.ticks }}">
    <input type="hidden" id="state_query_uri" value="{{ url_for('get_lobby_state', lobby_id=lobby_id)}}">
    <script src="{{ url_for('static', filename='js/poll_prepared.js') }}"></script>
</body>

</html>