{% macro display_cards(cards, small) -%}
<div class="deck flex{% if small %} deck-small{% endif %}">
    {% for card in cards %}
    {% set display_tuple = card.display_tuple %}
    {% set suit = "suit-" + display_tuple[0] %}
    {% set rank = "rank-" + display_tuple[1] %}
    <input form="card-action" type="checkbox" id="selected_card_id[{{ card.card_id }}]" name="selected_card_id"
        value="{{ card.card_id }}" autocomplete="off">
    <label for="selected_card_id[{{ card.card_id }}]">
        <div class="card {{ suit }} {{ rank }}">
            {{ svg_icon(suit, "suit")|safe }}
            {{ svg_icon(suit, "suit", "rotated")|safe }}
            {{ svg_icon(rank, "rank")|safe }}
            {{ svg_icon(rank, "rank", "shifted")|safe }}
        </div>
    </label>
    {% else %}
    <div class="card card-label">&times;</div>
    {% endfor %}
</div>
{%- endmacro %}
{% macro display_errors() -%}
{% with messages = get_flashed_messages(with_categories=true, category_filter=["error"]) %}
{% if messages %}
<ul class="flashes">
    {% for category, message in messages %}
    <li class="flash-{{ category }}"><strong>Trouble</strong> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{%- endmacro %}